In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
term_df = pd.read_csv(r"E:\ulan_rel_0621\term.csv")
subject_rels_df = pd.read_csv(r"E:\ulan_rel_0621\subject_rels.csv")

In [4]:
term_df

        subject_id                           term
0        500000131              Cesare Bernazzano
1        500000133   Crabeth, Wouter Pietersz, II
2        500000133  Crabeth, Wouter Pietersz., II
3        500000134        McGlashan, Archibald A.
4        500000135            Jadot, Jean Nicolas
...            ...                            ...
946962   500024225    Juchymowytsch Rjepin, Illja
946963   500359529                Mössmer, Joseph
946964   500196059        Subirachs, Josep  Maria
946965   500255281                  Zbynek, Sekal
946966   500432869               Mahlknecht, Carl

[946967 rows x 2 columns]

In [5]:
subject_rels_df

        subjectA_id  subjectB_id
0         500000002    500006238
1         500000002    500006240
2         500000002    500115553
3         500000002    500006242
4         500000002    500006243
...             ...          ...
321572    500491428    500523160
321573    500491428    500523161
321574    500491428    500523162
321575    500491428    500523163
321576    500491428    500523164

[321577 rows x 2 columns]

In [68]:
os.chdir(r"D:\DataMatching\karma\sources-modified-20210828")
datas = []
s01 = pd.read_csv('s01.csv')
s02 = pd.read_csv('s02.csv')
s03 = pd.read_csv('s03.csv')
s04 = pd.read_csv('s04.csv')
s05 = pd.read_csv('s05.csv')
s06 = pd.read_csv('s06.csv', encoding='ansi')
s07 = pd.read_csv('s07.csv')
s08 = pd.read_csv('s08.csv', encoding='ansi')
s09 = pd.read_csv('s09.csv')
s10 = pd.read_csv('s10.csv')
s11 = pd.read_csv('s11.csv')
s12 = pd.read_csv('s12.csv', encoding='ansi')
s13 = pd.read_csv('s13.csv', encoding='ansi')
s14 = pd.read_csv('s14.csv')
s15 = pd.read_csv('s15.csv')
s16 = pd.read_csv('s16.csv')
s17 = pd.read_csv('s17.csv')
s18 = pd.read_csv('s18.csv')
s19 = pd.read_csv('s19.csv')
s20 = pd.read_csv('s20.csv')
s21 = pd.read_csv('s21.csv', encoding='ansi')
s22 = pd.read_csv('s22.csv')
s23 = pd.read_csv('s23.csv', encoding='ansi')
s24 = pd.read_csv('s24.csv')
s25 = pd.read_csv('s25.csv')
s26 = pd.read_csv('s26.csv')
s28 = pd.read_csv('s28.csv')
s29 = pd.read_csv('s29.csv')
for i in range(1,30):
    if i <10:
        datas.append(eval(f"s0{i}"))
    elif i != 27:
        datas.append(eval(f"s{i}"))

In [60]:
terms = list(term_df["term"])

In [72]:
def search_ULAN(col):
    subject_ids = []
    for person in col:
#         print(person)
        if person.strip() in terms:
            subject_id = term_df[term_df["term"] == person.strip()]["subject_id"].values[0]
            subject_ids.append(subject_id)
        else:
            subject_ids.append(None)
    
#     print(subject_ids)
    return subject_ids

In [75]:
for i, data in enumerate(datas):
    print(i+1)
    print(list(data))
    print()

1
['Attribution', 'Begin Date', 'End Date', 'Title', 'Dated', 'Medium', 'Dimensions', 'production_id']

2
['Object Title', 'Object Work Type', 'Artist Name', 'Artist Birth Date', 'Artist Death Date', 'Artist Nationality', 'Object Earliest Date', 'Object Latest Date', 'Object Rights', 'Object Facet Value 1', 'Object Link Source', 'dimensions', 'production_id']

3
['title', 'name', 'nationality', 'birthDate', 'deathDate', 'production_id']

4
['title', 'sourceURL', 'imageURL', 'artist', 'nationality', 'birthDate', 'deathDate', 'materials', 'dimensions', 'creditLine', 'creationDate', 'galleryLabel', 'provenance', 'production_id']

5
['image', 'Date', 'Geography', 'Culture', 'Medium', 'Dimensions', 'Classification', 'Credit Line', 'Who', 'Description', 'Provenance', 'production_id']

6
['Title', 'Artist', 'Classification', 'Medium', 'Dimension', 'Owner', 'AquisitionDate', 'Image', 'Description', 'DateOfWork', 'CreditLine', 'ArtistBornDate', 'ArtistDiedDate', 'production_id']

7
['origin', 'credit_line', 'birth_year', 'death_year', 'nationality', 'Label_on_page', 'dates', 'name', 'title', 'technique', 'image_url', 'dimension', 'production_id']

8
['TITLE', 'AUTHOR', 'IMAGE__IMAGESRC', 'DESCRIPTION', 'VIDEO', 'production_id']

9
['name', 'biography', 'birthDate', 'deathDate', 'production_id']

10
['collection_URL', 'inscription', 'description', 'title', 'collection_name', 'artist', 'credit', 'materials', 'image_URL', 'dimensions', 'production_id']

11
['artist_name', 'nationality', 'birth_data_and_place', 'long_biography', 'occupation', 'Unnamed: 5']

12
['technique', 'nationality', 'description', 'date_made', 'artist_name', 'dimensions', 'img_url', 'title', 'production_id']

13
['Linktodata', 'Artistname', 'Nationality', 'birthYear', 'deathYear', 'Titleofartwork', 'Typeofartwork', 'Dimensions', 'Credit', 'ImageURL', 'production_id']

14
['technique', 'provenance', 'title', 'imageUrl', 'dimensions', 'artist', 'additionalInfo', 'url', 'production_id']

15
['imageURL', 'title', 'name', 'nationality', 'birth', 'death', 'date', 'medium', 'dimensions', 'classification', 'credit', 'provenance', 'production_id']

16
['name', 'artist', 'title', 'year', 'description', 'image', 'production_id']

17
['dimensions', 'title', 'photo', 'technique', 'credittext', 'artyear', 'link', 'artdesc', 'nationality', 'artist', 'artist_birth', 'artist_death', 'production_id']

18
['title', 'name', 'nationality', 'birthDate', 'deathDate', 'production_id']

19
['title', 'sourceURL', 'imageURL', 'artist', 'nationality', 'birthDate', 'deathDate', 'materials', 'dimensions', 'creditLine', 'creationDate', 'galleryLabel', 'provenance', 'production_id']

20
['Artist_Name', 'residence', 'birth_date', 'death_date', 'Production_Year', 'Title', 'Artwork_Details', 'Artwork_in_Focus', 'Image_URL', 'production_id']

21
['artworkTitle', 'artistName', 'nationality', 'birthDate', 'deathDate', 'dateOfStartOfCreation', 'dateOfEndOfCreation', 'medium', 'dimensions', 'classification', 'creditLine', 'production_id']

22
['Artist_Name', 'Process', 'Dimensions', 'Provenance', 'image', 'Artwork_Name', 'Artwork_Year', 'production_id']

23
['Title', 'Artist', 'Classification', 'Medium', 'Dimension', 'Owner', 'AquisitionDate', 'Image', 'Description', 'DateOfWork', 'CreditLine', 'bornDate', 'deathDate', 'production_id']

24
['dim', 'made', 'prov', 'title', 'nationality', 'artist', 'image_url', 'birth_date', 'death_date', 'production_id']

25
['Subtype_of_Art', 'Type_of_Art', 'Title', 'Date_made', 'Credit', 'ArtistName', 'Inscription', 'Pic_URL', 'Dimensions', 'BirthDate', 'DeathDate', 'production_id']

26
['birthYear', 'image-URL', 'collection', 'type', 'url', 'title', 'nationality', 'when-acquired', 'dimensions', 'birthPlaceCity', 'artistName', 'credit', 'deathYear', 'production_id']

27
['Category', 'Title', 'Maker', 'Maker Birth Date', 'Maker Death Date', 'Nationality', 'Collector', 'Owner', 'Place Made', 'Materials', 'Measurements', 'Description', 'Credit Line', 'Home Location', 'How Acquired?', 'production_id']

28
['Culture', 'Attribution', 'Object Name', 'Title', 'Dated', 'Medium', 'Dimensions', 'Description', 'production_id']

In [89]:
cols = []
cols.append(s01["Attribution"])
cols.append(s02["Artist Name"])
cols.append(s03["name"])
cols.append(s04["artist"])
cols.append(s05["Who"])
cols.append(s06["Artist"])
cols.append(s06["Title"])
cols.append(s07["name"])
cols.append(s08["AUTHOR"])
cols.append(s09["name"])
cols.append(s10["artist"])
cols.append(s11["artist_name"])
cols.append(s12["artist_name"])
cols.append(s13["Artistname"])
cols.append(s14["artist"])
cols.append(s15["name"])
cols.append(s16["artist"])
cols.append(s17["artist"])
cols.append(s18["name"])
cols.append(s19["artist"])
cols.append(s20["Artist_Name"])
cols.append(s21["artistName"])
cols.append(s22["Artist_Name"])
cols.append(s23["Artist"])
cols.append(s24["artist"])
cols.append(s25["ArtistName"])
cols.append(s26["artistName"])
cols.append(s28["Maker"])
cols.append(s29["Attribution"])

In [93]:
sids_ls = [search_ULAN(col) for col in cols]

In [88]:
for sids in sids_ls:
    if len(sids) >= len(s06):
        print(sids.count(None)/ len(sids))

0.1320754716981132
0.06976744186046512
0.20382165605095542
0.2
0.5666666666666667
0.30612244897959184
0.3548387096774194
0.5095846645367412
0.07036423841059603
0.15186615186615188
0.24193548387096775
0.5553191489361702
0.0761904761904762
1.0
0.15476190476190477
0.1942675159235669
0.1059322033898305
0.043170559094125975
0.2
0.1130952380952381
0.5616438356164384
0.0071174377224199285

In [87]:
search_ULAN(s06["Title"]).count(None)

17